**/.vscode/**
**/.vscode-test/**
**/.circleci/**
**/.nyc_output/**
coverage/**
**/out/test/**
**/.github/**
src/**
**/*.js.map

client/node_modules/**/*.md
client/node_modules/**/AUTHORS
client/node_modules/**/CHANGELOG
client/node_modules/**/LICENSE
client/node_modules/**/examples/**
client/node_modules/**/example/**
client/node_modules/**/.travis.yml
client/node_modules/**/.npmignore
client/node_modules/**/.editorconfig
client/node_modules/**/.eslintrc.json
client/src/**
client/out/test/**

server/src/**
server/node_modules/**/*.md
server/node_modules/**/AUTHORS
server/node_modules/**/CHANGELOG
server/node_modules/**/LICENSE
server/node_modules/**/examples/**
server/node_modules/**/example/**
server/node_modules/**/.travis.yml
server/node_modules/**/.npmignore
server/node_modules/**/.editorconfig
server/node_modules/**/.eslintrc.json
server/node_modules/**/.jshintrc
images/**

**/appveyor.yml
**/azure-pipelines.yml
**/bower.json
**/tsconfig.json
**/.eslintrc
**/.eslintignore
**/.eslintrc.js
**/.eslintrc.json
**/.eslintrc.yml
**/.eslintignore
**/.gitmodules
**/.gitignore
**/.jshintrc
**/.jshintrc.js
**/.jshintrc.json
**/LICENSE-MIT.txt
**/License.txt
**/License
**/license
**/license.txt
**/Makefile
**/*.map
**/*.ts
**/*.markdown
**/yarn.lock
.eslintrc.json
.gitignore
vscode-groovy-lint*.vsx
vsc-extension-quickstart.md
