.vscode/**
.vscode-test/**
.circleci/**
.nyc_output/**
coverage/**
out/test/**
src/**
client/node_modules/**/*.md
client/node_modules/**/LICENSE
client/node_modules/**/.travis.yml
client/node_modules/**/.npmignore
client/node_modules/**/.editorconfig
client/node_modules/**/.eslintrc.json
client/src**
client/out/test/**
server/src**
server/node_modules/**/*.md
server/node_modules/**/LICENSE
server/node_modules/**/.travis.yml
server/node_modules/**/.npmignore
server/node_modules/**/.editorconfig
server/node_modules/**/.eslintrc.json
images/**
.eslintrc.json
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
vscode-groovy-lint*.vsx
