name: Test

on: [push, pull_request]

permissions: read-all

concurrency:
  group: ${{ github.ref_name }}-${{ github.workflow }}
  cancel-in-progress: false

jobs:
  test:
    # Avoid duplicate jobs
    if: github.event_name != 'push' || github.ref_name == github.event.repository.default_branch
    strategy:
      matrix:
        node_version: ["20","24"]
        os: [ubuntu-latest, macos-latest, windows-latest]
    name: Test
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node_version }}
      - name: Install dependencies
        run: npm install
      - name: Lint
        run: npm run lint
      - name: Compile
        run: npm run compile
      - name: Run headless test
        uses: GabrielBB/xvfb-action@v1
        env:
          NPM_DEBUG: vscode-groovy-lint
        with:
          run: npm run test
