name: Test

on: [push, pull_request]

permissions: read-all

concurrency:
  group: ${{ github.ref_name }}-${{ github.workflow }}
  cancel-in-progress: false

jobs:
  test:
    strategy:
      matrix:
        node_version: ["18"]
        os: [ubuntu-latest, macos-latest, windows-latest]
    name: Test
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node_version }}
      - name: Install dependencies
        run: npm install
      - name: Lint
        run: npm run lint
      - name: Compile
        run: npm run compile
      - name: Run headless test
        uses: GabrielBB/xvfb-action@v1
        env:
          NPM_DEBUG: vscode-groovy-lint
        with:
          run: npm run test
